<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffbe0b">
  <meta name="theme-color" content="#ffbe0b">
  <meta name="Description" content="<%= htmlWebpackPlugin.options.title %>">
</head>

<body>
  <div id="react-app"></div>
  <% if (htmlWebpackPlugin.options.production && process.env.PROJECT_ENV === 'production' ){ %>
  <script>
    // Intercom
    // Google Analytics
    // Any other tools for production
  </script>
  <% } %>
</body>

</html>
